* {
  font-family: "Mukta";
}

body {
  background-color: #ffffff;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav > ul {
  display: inline;
  list-style-type: none;
}
nav > ul > li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

nav a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

nav a:hover {
  transition: all 0.5s ease;
  color: rgb(216, 129, 139);
}

.aboutus {
  margin: 50px;
  background-color: #feb6b9;
  color: white;
  border: 15px solid #feb6b9;
  border-radius: 10px;
}

.container {
  border: 14px solid #feb6b9;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  background-color: #feb6b9;
  width: 80%;
  overflow: hidden;
}

.aboutus h1 {
  text-align: center;
  width: 100%;
  font-size: 100px;
}

.aboutus p {
  text-align: justify;
}

.materials {
  color: white;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 1em;
}

.materialTitle {
  text-align: center;
  margin-bottom: 35px;
}

.desc {
  width: 250px;
  text-align: justify;
  margin: 0px 25px 0px 25px;
}

.card1 img {
  color: black;
  max-width: 23%;
  -webkit-filter: invert(100%);
}

.faqs {
  margin-top: 25px;
  text-align: center;
}
.faqsDesc {
  text-align: center;
}
.faqsDesc ul {
  display: inline-block;
}
.faqsDesc li {
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .container {
    width: 80%;
  }
  .materials {
    display: inline-block;
  }
  #businessName h1 {
    font-size: 2em;
    text-align: center;
  }
  header {
    display: inline-block;
  }
  nav > ul {
    display: block;
  }
}
